.Card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin: 50px auto 0;
  border-radius: 6px;
  width: 95%;
  padding: 20px;
  background-color: #24292f;

  @media (min-width: 768px) {
    width: 75%;
  }

  &__Img {
    width: 45%;
    padding: 20px;
    display: block;
    margin: 0 auto;
  }
}
